<h1>About the Bears</h1>
<p>
<a href="http://www.simplyrequest.com">Simply Request</a>
is request management fairy dust. It lets any service owner set up a way for their
customers to request online. Perfect for bears and their owners. 
</p>
