<h1>Sample App</h1>
<p>
	This is the home for <a href="http://www.simplyrequest.com/">Simply Request</a>
	sample application.
</p>
		
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>		